
<div class="container mt-3">
    <h1>View Post</h1>
  
    <a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>
   
    <div>
        <strong>ID:</strong>
        <p>{{ post.id }}</p>
    </div>
   
    <div>
        <strong>Name:</strong>
        <p>{{ post.name }}</p>
    </div>
   
    <div>
        <strong>Release Date:</strong>
        <p>{{ post.date }}</p>
    </div>

    <div>
        <strong>Watched:</strong>
        <p>{{ post.seen }}</p>
    </div>

    <div>
        <strong>Image URL:</strong>
        <p>{{ post.img }}</p>
    </div>
   
</div>